{% extends 'main/layoute.html' %}

{% block title %}
    <title>Четвертая страница сайта</title>
{% endblock %}

{% block content%}

    <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Добро пожаловать на наш сайт!</h1>
                            <p class="lead">Четвертая страница</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <h3>Новости и события:</h3>
                            <p>  - **Обновления законодательства:** Изменения в правилах рыбалки и лицензирования.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Текущие события:</h3>
                            <p>Новости о чемпионатах и других мероприятиях в мире рыбалки. </p>
                        </div>

                                  </div>
                              </div>
{% endblock %}