
{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная страница сайта</title>
{% endblock %}

{% block content%}

    <div class="container mt-5">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1>Добро пожаловать на наш сайт!</h1>
              <p class="lead">Главная страница</p>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col-md-4">
              <h3>Блог о рыбалке:</h3>
              <p>Виды рыбы и способы ловли:
              Подробные описания различных видов пресноводной и морской рыбы с советами по ловле.</p>
          </div>
          <div class="col-md-4">
              <h3>Сезонные советы:</h3>
              <p> Как изменяется рыбалка в зависимости от времени года и какие виды рыбы лучше ловить в определенные месяцы.</p>
          </div>
          <div class="col-md-4">
              <h3>Обзоры оборудования:</h3>
              <p>Сравнения снастей:** Обзоры и сравнения удочек, катушек, лески и крючков.
                **Гаджеты для рыбалки:** Электронные устройства, которые могут помочь в рыбалке, такие как эхолоты и GPS-навигация.
</p>
                        </div>
                    </div>
                </div>
{% endblock %}
