{% extends 'main/layoute.html' %}

{% block title %}
    <title>Вторая страница сайта </title>
{% endblock %}

{% block content%}

     <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Добро пожаловать на наш сайт!</h1>
                            <p class="lead">Вторая страница</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <h3>Места для рыбалки:</h3>
                            <p> **Лучшие места для рыбалки в регионе:** Подробные обзоры мест с указанием видов рыбы, которые там водятся.
                               - **Рыболовные базы и туры:** Информация о рыболовных базах, аренде лодок и организованных турах для рыбалки.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Эко-рыбалка:</h3>
                            <p>  - **Сохранение природы:** Как рыбачить, не нанося ущерба окружающей среде.
                             - **Ловля и выпуск:** Принципы и практика безопасного возвращения рыбы в водоем.</p>
                        </div>
                        <div class="col-md-4">
                            <h3>Рецепты:</h3>
                            <p>- **Как приготовить свежевыловленную рыбу:** Рецепты блюд из разных видов рыбы.
                               - **Консервация и засолка:** Способы сохранить улов на длительное время.
              </p>
                                      </div>
                                  </div>
                              </div>
{% endblock %}
